body {
    background-color: hwb(0 100% 0% / 0.356);
    font-family: Arial, sans-serif; 
    text-align: center;
    padding: 20px;
}
h1 {
    color: rgba(8, 20, 97, 0.545);
    font-size: 34px;
}
label {
    font-size: 20px;
    margin-right: 20px;
    margin-top: 10px;
}
input[type="text"],select {
    margin: 10px ;
    padding: 10px;
    font-size: 15px;
    width: 200px;
}
input[type="color"] {
    margin: 10px;
    width: 200px;
    padding: 0;
}